<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mas.ws.mapper.PayUserPurchaseMapper" >
  <resultMap id="BaseResultMap" type="com.mas.ws.pojo.PayUserPurchase" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="orderId" property="orderId" jdbcType="VARCHAR" />
    <result column="orderIdCp" property="orderIdCp" jdbcType="VARCHAR" />
    <result column="orderValue" property="orderValue" jdbcType="INTEGER" />
    <result column="aValue" property="aValue" jdbcType="INTEGER" />
    <result column="aValuePresent" property="aValuePresent" jdbcType="INTEGER" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="IP" property="IP" jdbcType="VARCHAR" />
    <result column="clientId" property="clientId" jdbcType="INTEGER" />
    <result column="userId" property="userId" jdbcType="INTEGER" />
    <result column="userName" property="userName" jdbcType="VARCHAR" />
    <result column="userPwd" property="userPwd" jdbcType="VARCHAR" />
    <result column="appId" property="appId" jdbcType="INTEGER" />
    <result column="apkKey" property="apkKey" jdbcType="VARCHAR" />
    <result column="cpId" property="cpId" jdbcType="INTEGER" />
    <result column="serverId" property="serverId" jdbcType="INTEGER" />
    <result column="channelId" property="channelId" jdbcType="INTEGER" />
    <result column="sessionId" property="sessionId" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="callback" property="callback" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.orderId != null" >
         and orderId = #{condition.orderId}
      </if>
      <if test="condition.orderIdCp != null" >
         and orderIdCp = #{condition.orderIdCp}
      </if>
      <if test="condition.orderValue != null" >
         and orderValue = #{condition.orderValue}
      </if>
      <if test="condition.aValue != null" >
         and aValue = #{condition.aValue}
      </if>
      <if test="condition.aValuePresent != null" >
         and aValuePresent = #{condition.aValuePresent}
      </if>
      <if test="condition.createTime != null" >
         and createTime = #{condition.createTime}
      </if>
      <if test="condition.IP != null" >
         and IP = #{condition.IP}
      </if>
      <if test="condition.clientId != null" >
         and clientId = #{condition.clientId}
      </if>
      <if test="condition.userId != null" >
         and userId = #{condition.userId}
      </if>
      <if test="condition.userName != null" >
         and userName = #{condition.userName}
      </if>
      <if test="condition.userPwd != null" >
         and userPwd = #{condition.userPwd}
      </if>
      <if test="condition.appId != null" >
         and appId = #{condition.appId}
      </if>
      <if test="condition.apkKey != null" >
         and apkKey = #{condition.apkKey}
      </if>
      <if test="condition.cpId != null" >
         and cpId = #{condition.cpId}
      </if>
      <if test="condition.serverId != null" >
         and serverId = #{condition.serverId}
      </if>
      <if test="condition.channelId != null" >
         and channelId = #{condition.channelId}
      </if>
      <if test="condition.sessionId != null" >
         and sessionId = #{condition.sessionId}
      </if>
      <if test="condition.remark != null" >
         and remark = #{condition.remark}
      </if>
      <if test="condition.callback != null" >
         and callback = #{condition.callback}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    id, orderId, orderIdCp, orderValue, aValue, aValuePresent, createTime, IP, clientId, 
    userId, userName, userPwd, appId, apkKey, cpId, serverId, channelId, sessionId, remark, 
    callback
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mas.ws.pojo.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pay_user_purchase
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pay_user_purchase
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pay_user_purchase
    where id = #{id}
  </delete>
  <delete id="deleteByExample" parameterType="com.mas.ws.pojo.Criteria" >
    delete from pay_user_purchase
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mas.ws.pojo.PayUserPurchase" >
    insert into pay_user_purchase (id, orderId, orderIdCp, orderValue, aValue, aValuePresent, 
      createTime, IP, clientId, userId, userName, userPwd, appId, 
      apkKey, cpId, serverId, channelId, sessionId, remark, callback
      )
    values (#{id}, #{orderId}, #{orderIdCp}, #{orderValue}, #{aValue}, #{aValuePresent}, 
      #{createTime}, #{IP}, #{clientId}, #{userId}, #{userName}, #{userPwd}, #{appId}, 
      #{apkKey}, #{cpId}, #{serverId}, #{channelId}, #{sessionId}, #{remark}, #{callback}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mas.ws.pojo.PayUserPurchase" >
    insert into pay_user_purchase
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        orderId,
      </if>
      <if test="orderIdCp != null" >
        orderIdCp,
      </if>
      <if test="orderValue != null" >
        orderValue,
      </if>
      <if test="aValue != null" >
        aValue,
      </if>
      <if test="aValuePresent != null" >
        aValuePresent,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="IP != null" >
        IP,
      </if>
      <if test="clientId != null" >
        clientId,
      </if>
      <if test="userId != null" >
        userId,
      </if>
      <if test="userName != null" >
        userName,
      </if>
      <if test="userPwd != null" >
        userPwd,
      </if>
      <if test="appId != null" >
        appId,
      </if>
      <if test="apkKey != null" >
        apkKey,
      </if>
      <if test="cpId != null" >
        cpId,
      </if>
      <if test="serverId != null" >
        serverId,
      </if>
      <if test="channelId != null" >
        channelId,
      </if>
      <if test="sessionId != null" >
        sessionId,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="callback != null" >
        callback,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="orderId != null" >
        #{orderId},
      </if>
      <if test="orderIdCp != null" >
        #{orderIdCp},
      </if>
      <if test="orderValue != null" >
        #{orderValue},
      </if>
      <if test="aValue != null" >
        #{aValue},
      </if>
      <if test="aValuePresent != null" >
        #{aValuePresent},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="IP != null" >
        #{IP},
      </if>
      <if test="clientId != null" >
        #{clientId},
      </if>
      <if test="userId != null" >
        #{userId},
      </if>
      <if test="userName != null" >
        #{userName},
      </if>
      <if test="userPwd != null" >
        #{userPwd},
      </if>
      <if test="appId != null" >
        #{appId},
      </if>
      <if test="apkKey != null" >
        #{apkKey},
      </if>
      <if test="cpId != null" >
        #{cpId},
      </if>
      <if test="serverId != null" >
        #{serverId},
      </if>
      <if test="channelId != null" >
        #{channelId},
      </if>
      <if test="sessionId != null" >
        #{sessionId},
      </if>
      <if test="remark != null" >
        #{remark},
      </if>
      <if test="callback != null" >
        #{callback},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mas.ws.pojo.Criteria" resultType="java.lang.Integer" >
    select count(*) from pay_user_purchase
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update pay_user_purchase
    <set >
      <if test="record.id != null" >
        id = #{record.id},
      </if>
      <if test="record.orderId != null" >
        orderId = #{record.orderId},
      </if>
      <if test="record.orderIdCp != null" >
        orderIdCp = #{record.orderIdCp},
      </if>
      <if test="record.orderValue != null" >
        orderValue = #{record.orderValue},
      </if>
      <if test="record.aValue != null" >
        aValue = #{record.aValue},
      </if>
      <if test="record.aValuePresent != null" >
        aValuePresent = #{record.aValuePresent},
      </if>
      <if test="record.createTime != null" >
        createTime = #{record.createTime},
      </if>
      <if test="record.IP != null" >
        IP = #{record.IP},
      </if>
      <if test="record.clientId != null" >
        clientId = #{record.clientId},
      </if>
      <if test="record.userId != null" >
        userId = #{record.userId},
      </if>
      <if test="record.userName != null" >
        userName = #{record.userName},
      </if>
      <if test="record.userPwd != null" >
        userPwd = #{record.userPwd},
      </if>
      <if test="record.appId != null" >
        appId = #{record.appId},
      </if>
      <if test="record.apkKey != null" >
        apkKey = #{record.apkKey},
      </if>
      <if test="record.cpId != null" >
        cpId = #{record.cpId},
      </if>
      <if test="record.serverId != null" >
        serverId = #{record.serverId},
      </if>
      <if test="record.channelId != null" >
        channelId = #{record.channelId},
      </if>
      <if test="record.sessionId != null" >
        sessionId = #{record.sessionId},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark},
      </if>
      <if test="record.callback != null" >
        callback = #{record.callback},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pay_user_purchase
    set id = #{record.id},
      orderId = #{record.orderId},
      orderIdCp = #{record.orderIdCp},
      orderValue = #{record.orderValue},
      aValue = #{record.aValue},
      aValuePresent = #{record.aValuePresent},
      createTime = #{record.createTime},
      IP = #{record.IP},
      clientId = #{record.clientId},
      userId = #{record.userId},
      userName = #{record.userName},
      userPwd = #{record.userPwd},
      appId = #{record.appId},
      apkKey = #{record.apkKey},
      cpId = #{record.cpId},
      serverId = #{record.serverId},
      channelId = #{record.channelId},
      sessionId = #{record.sessionId},
      remark = #{record.remark},
      callback = #{record.callback}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mas.ws.pojo.PayUserPurchase" >
    update pay_user_purchase
    <set >
      <if test="orderId != null" >
        orderId = #{orderId},
      </if>
      <if test="orderIdCp != null" >
        orderIdCp = #{orderIdCp},
      </if>
      <if test="orderValue != null" >
        orderValue = #{orderValue},
      </if>
      <if test="aValue != null" >
        aValue = #{aValue},
      </if>
      <if test="aValuePresent != null" >
        aValuePresent = #{aValuePresent},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime},
      </if>
      <if test="IP != null" >
        IP = #{IP},
      </if>
      <if test="clientId != null" >
        clientId = #{clientId},
      </if>
      <if test="userId != null" >
        userId = #{userId},
      </if>
      <if test="userName != null" >
        userName = #{userName},
      </if>
      <if test="userPwd != null" >
        userPwd = #{userPwd},
      </if>
      <if test="appId != null" >
        appId = #{appId},
      </if>
      <if test="apkKey != null" >
        apkKey = #{apkKey},
      </if>
      <if test="cpId != null" >
        cpId = #{cpId},
      </if>
      <if test="serverId != null" >
        serverId = #{serverId},
      </if>
      <if test="channelId != null" >
        channelId = #{channelId},
      </if>
      <if test="sessionId != null" >
        sessionId = #{sessionId},
      </if>
      <if test="remark != null" >
        remark = #{remark},
      </if>
      <if test="callback != null" >
        callback = #{callback},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mas.ws.pojo.PayUserPurchase" >
    update pay_user_purchase
    set orderId = #{orderId},
      orderIdCp = #{orderIdCp},
      orderValue = #{orderValue},
      aValue = #{aValue},
      aValuePresent = #{aValuePresent},
      createTime = #{createTime},
      IP = #{IP},
      clientId = #{clientId},
      userId = #{userId},
      userName = #{userName},
      userPwd = #{userPwd},
      appId = #{appId},
      apkKey = #{apkKey},
      cpId = #{cpId},
      serverId = #{serverId},
      channelId = #{channelId},
      sessionId = #{sessionId},
      remark = #{remark},
      callback = #{callback}
    where id = #{id}
  </update>
</mapper>