/server-Indomog/bin
/server-Market/build
/server-Ws/build
/client-android-studio/build
/client-android-studio/notifications4EveryWhere/build
/client-android-studio/xgamecenterclient/build
/client-android-studio/.gradle

