#java below
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/server-Indomog/bin
/server-Market/build
/server-Ws/build
/client-android-studio/build
/client-android-studio/notifications4EveryWhere/build
/client-android-studio/xgamecenterclient/build
/client-android-studio/.gradle/

*.iml
*.apk

.idea/

/server-Ws/target/m2e-wtp
/server-Ws/target/classes
