[client]
port = 55511
socket = /tmp/mysql.sock
default-character-set = utf8

[mysqld]
explicit_defaults_for_timestamp=true
port = 55511
socket = /tmp/mysql.sock
skip-external-locking
key_buffer_size = 16M
max_allowed_packet = 1M
table_open_cache = 64
sort_buffer_size = 512K
net_buffer_length = 8K
read_buffer_size = 256K
read_rnd_buffer_size = 512K
myisam_sort_buffer_size = 8M
character_set_server=utf8
datadir = /var/data/mysql
basedir = /usr/local/mysql
lower_case_table_names = 1
max_connections=256

#########log record##########

#binlog
log-bin=mysqlbin-log 
binlog_cache_size=1M
binlog_format=mixed
expire_logs_days=3

#slowlog
long_query_time=3
slow_query_log=1
slow_query_log_file=/usr/local/mysql/log/mysql_slowquery.log

#log error
log-error=/usr/local/mysql/log/mysql_error.log
