<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mas.rave.dao.AppFilePatchMapper" >
  <resultMap id="BaseResultMap" type="com.mas.rave.main.vo.AppFilePatch" >
  	<association column="appId" property="appInfo" jdbcType="INTEGER" select="com.mas.rave.dao.AppInfoMapper.selectByPrimaryKey" />
  	<association column="channelId" property="channel" jdbcType="INTEGER" select="com.mas.rave.dao.ChannelMapper.selectByPrimaryKey" />
  	<association column="cpId" property="cp" jdbcType="INTEGER" select="com.mas.rave.dao.CpMapper.selectByPrimaryKey" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
   id,apkId,appId,appName,channelId,cpId,lowMD5,lowPackageName,lowVersionCode,lowVersionName,
   packageName,versionCode,versionName,url,fileSize,state,createTime,updateTime
  </sql>
  
  
  <select id="getAppFilePatchs" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
     <include refid="Base_Column_List" />
    from t_app_file_patch f
   where f.apkId=#{apkId}
   order by f.createTime
  </select>
  
  <!-- app文件信息 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
   select 
    <include refid="Base_Column_List" />
    from t_app_file_patch
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_app_file_patch
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <!-- 增加appPatch文件信息 -->
  <insert id="insert" parameterType="com.mas.rave.main.vo.AppFilePatch" >
    INSERT INTO mas_market.t_app_file_patch 
	(apkId,appId,appName,
	<if test="channel != null" >
		channelId,
	</if>
	<if test="cp != null" >
		cpId,
	</if>
	lowMD5,lowPackageName,lowVersionCode,lowVersionName,lowFileSize,
	packageName,versionCode,versionName,url,fileSize,state,createTime)
	VALUES(#{apkId},#{appInfo.id},#{appName},
	<if test="channel != null" >
		#{channel.id},
	</if>
	<if test="cp != null" >
		#{cp.id},
	</if>
	#{lowMD5},#{lowPackageName},#{lowVersionCode},#{lowVersionName},#{lowFileSize},
	#{packageName},#{versionCode},#{versionName},#{url},#{fileSize},#{state},now());
  </insert>
  
    <!-- 同步app对应文件cp -->
  <update id="upAppFilePatchByAppId" parameterType="java.util.HashMap" >
	UPDATE t_app_file_patch SET cpId=#{cpId},appName=#{appName} WHERE appId = #{appId}
  </update>
  
  <!-- 获取对应差异包 -->
  <select id="getAppFilePtchByApkId" resultType="com.mas.rave.main.vo.AppFilePatch" parameterType="java.util.HashMap" >
    select 
    <include refid="Base_Column_List" />
    from t_app_file_patch
    where apkId = #{apkId} and lowVersionCode=#{lowVersionCode}
  </select>
  
</mapper>