<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mas.rave.dao.ClientFeedbackZappMapper" >
  <resultMap id="BaseResultMap" type="com.mas.rave.main.vo.ClientFeedbackZapp" >
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                 <when test="criterion.orValue" >
                  and ${criterion.condition} #{criterion.value} or ${criterion.secondCondition}  #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id,question,replyContent,state,createTime
  </sql>
  	<!-- 分页查看客户端回馈信息信息 -->
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mas.rave.main.vo.ClientFeedbackZappExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_client_feedback_zapp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
     <if test="orderByClause != null or mapOrderByClause != null" >
      order by
        <if test="mapOrderByClause != null and mapOrderByClause.question != null ">
   		LOWER(question) =  #{mapOrderByClause.question} DESC,
   		LOWER(question) LIKE CONCAT(#{mapOrderByClause.question},"%") DESC, 		  
  	    </if>  
        <if test="mapOrderByClause != null and mapOrderByClause.replyContent != null ">
   		LOWER(replyContent) =  #{mapOrderByClause.replyContent} DESC,
   		LOWER(replyContent) LIKE CONCAT(#{mapOrderByClause.replyContent},"%") DESC, 		  
  	    </if>        
       ${orderByClause}
    </if>
  </select>
  <!-- 删除客户端回馈信息信息  -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_client_feedback_zapp
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete  from t_client_feedback_zapp
    where id = #{id,jdbcType=INTEGER}
  </delete>  
  <!-- 增加客户端回馈信息信息  -->
  <insert id="insert" parameterType="com.mas.rave.main.vo.ClientFeedbackZapp" >
    INSERT INTO t_client_feedback_zapp (id,question,replyContent,state,createTime)
	VALUES(#{id},#{question},#{replyContent},#{state},#{createTime});
  </insert> 
  <!-- 统计客户端回馈信息信息  -->
  <select id="countByExample" parameterType="com.mas.rave.main.vo.ClientFeedbackZappExample" resultType="java.lang.Integer" >
    select count(*) from t_client_feedback_zapp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
   <!-- 更新客户端回馈信息信息  -->
  <update id="updateByPrimaryKey" parameterType="com.mas.rave.main.vo.ClientFeedbackZapp" >
	UPDATE t_client_feedback_zapp
	SET
	id = #{id},question = #{question},replyContent = #{replyContent},
	state = #{state},createTime = #{createTime} 
	WHERE
	id = #{id};
  </update>
</mapper>