<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mas.rave.dao.CpMapper" >
  <resultMap id="BaseResultMap" type="com.mas.rave.main.vo.Cp" />
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id,name,password,pwd,description,backendAccount,backendUrl,backendPassword, 
	address,phoneNum,qq,email,contact,remark,state,payWay, 
	createTime,updateTime,priKey,n, callbackUrl,pkey,userType,cpState,countryName
  </sql>
  
	<!-- 分页查看cp信息 -->
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mas.rave.main.vo.CpExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_cp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
  <!-- 分页查看cp信息 -->
  <select id="getCps" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_cp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
  
  <!-- 删除平台信息 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_cp
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_cp
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <!-- 增加cp信息 -->
  <insert id="insert" parameterType="com.mas.rave.main.vo.Channel" >
    INSERT INTO t_cp (name,password,pwd,description,backendAccount, 
	backendUrl,backendPassword, address, phoneNum,qq, 
	email,contact,remark,state,payWay,createTime, 
	updateTime,priKey,n,callbackUrl, pkey,cpState)
	VALUES(#{name},#{password},#{pwd},#{description},#{backendAccount},#{backendUrl}, #{backendPassword},#{address}, 
	#{phoneNum},#{qq},#{email},#{contact},#{remark}, 
	#{state},#{payWay},now(),now(),#{priKey}, #{n},#{callbackUrl},#{pkey},#{cpState})
  </insert>
  
  
  <!-- 统计cp信息 -->
  <select id="countByExample" parameterType="com.mas.rave.main.vo.CpExample" resultType="java.lang.Integer" >
    select count(*) from t_cp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  
    <select id="getCpStates" parameterType="java.lang.Integer" resultMap="BaseResultMap" >
	    select 
		<include refid="Base_Column_List" />
		 from t_cp
    	 where cpState=#{cpState}
  </select>
  
  <!-- 更新cp信息 -->
  <update id="updateByPrimaryKey" parameterType="com.mas.rave.main.vo.Cp" >
	update t_cp SET name = #{name},pwd=#{pwd},description = #{description},
	remark = #{remark},state = #{state}, payWay = #{payWay},userType =#{userType},cpState=#{cpState},
	updateTime = now() WHERE id = #{id}
  </update>
</mapper>
