<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mas.rave.dao.SearchKeywordIconMapper" >
  <resultMap id="BaseResultMap" type="com.mas.rave.main.vo.SearchKeywordIcon" />
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
   	id,name,nameCn,createTime,url,state
  </sql>
   <!-- 根据条件查询-->
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mas.rave.main.vo.SearchKeywordIconExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_search_keyword_icon
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <!-- 获取所有-->
   <select id="getSearchKeywordIcons" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from t_search_keyword_icon where state=true order by id asc;
  </select>
   <!-- 根据ID查询 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap"  parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_search_keyword_icon
    where id = #{id,jdbcType=INTEGER}
  </select>
   <!-- 根据ID删除 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_search_keyword_icon
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <!-- 增加 -->
  <insert id="insert" parameterType="com.mas.rave.main.vo.SearchKeywordIcon" >
    INSERT INTO t_search_keyword_icon (name,nameCn,url,state,createTime) VALUES(#{name},#{nameCn},#{url},#{state},NOW())
  </insert>
  
  
  <!-- 统计-->
  <select id="countByExample" parameterType="com.mas.rave.main.vo.SearchKeywordIconExample" resultType="java.lang.Integer" >
    select count(*) from t_search_keyword_icon
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <!-- 更新-->
  <update id="updateByPrimaryKey" parameterType="com.mas.rave.main.vo.SearchKeywordIcon" >
  UPDATE t_search_keyword_icon SET name = #{name}, nameCn = #{nameCn}, url = #{url}, state = #{state}
  WHERE
	id = #{id}
  
  </update>
  
  <update id="updateState" parameterType="java.util.HashMap" >
  	UPDATE t_search_keyword_icon SET state = #{state} WHERE id = #{id}
  </update>
  
</mapper>