<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mas.rave.dao.SearchKeywordResListMapper" >
  <resultMap id="BaseResultMap" type="com.mas.rave.main.vo.SearchKeywordResList" >
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                 <when test="criterion.andValue" >
                  and ${criterion.condition} #{criterion.value} and ${criterion.secondCondition} #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="dynamicWhere">
  	<trim prefix="where" prefixOverrides="and">
  	   <if test="id != null and id != ''">
  			and id = #{id}
  		</if>
  		<if test="searchId !=null and searchId != ''">
  			and  t1.searchId =#{searchId}		
  		</if>
  	</trim>
  </sql>
  
  <sql id="Base_Column_List" >
    id,searchId,resId,operator,createTime,sort
  </sql>

	<!-- 分页查看searchKeywordResList信息 -->
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mas.rave.main.vo.SearchKeywordResList" >
   select t1.id,t1.searchId,t1.resId,t1.operator,t1.createTime, 
	CASE WHEN t6.`albumId`=2 THEN (SELECT NAME FROM `t_app_info` t2 WHERE t2.id = t1.resId) 
	WHEN t6.`albumId`=4 THEN (SELECT NAME FROM `t_res_music` t4 WHERE t4.id = t1.resId) 
	ELSE (SELECT NAME FROM `t_res_image` t5 WHERE t5.id = t1.resId) 
	END AS resName,
	CASE WHEN t6.`albumId`=2 THEN (SELECT biglogo FROM `t_app_info` t2 WHERE t2.id = t1.resId) 
	WHEN t6.`albumId`=4 THEN (SELECT logo FROM `t_res_music` t4 WHERE t4.id = t1.resId) 
	ELSE (SELECT biglogo FROM `t_res_image` t5 WHERE t5.id = t1.resId) 
	END AS logo,
	
	t6.keyword,t1.sort   
    from t_search_keyword_reslist t1 left join t_search_keyword t6 on t1.searchId = t6.searchId 
   <include refid="dynamicWhere"/>
    order by t1.sort desc, t1.createTime desc 
      limit #{currentPage} ,#{pageSize}
  </select>
     
  <!-- 统计searchKeywordResList信息 -->
  <select id="countByExample" parameterType="com.mas.rave.main.vo.SearchKeywordResList" resultType="java.lang.Integer" >
    select count(*) from t_search_keyword_reslist t1
    <include refid="dynamicWhere"/>
  </select> 
  <!--根据id查找searchKeywordResList信息 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_search_keyword_reslist
    where id = #{id,jdbcType=INTEGER}
  </select>
      <!-- 根据name查询searchKeywordResList信息 -->
   <select id="selectBySearchId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_search_keyword_reslist
    where searchId = #{searchId,jdbcType=INTEGER}
  </select>
  
  <!-- 根据id删除searchKeywordResList信息 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_search_keyword_reslist
    where id = #{id,jdbcType=INTEGER}
  </delete>  
  <!-- 根据resId删除searchKeywordResList信息 -->
  <delete id="deleteByResId" parameterType="java.lang.Integer" >
    delete from t_search_keyword_reslist
    where resId = #{resId,jdbcType=INTEGER}
  </delete>    
   <!-- 根据id删除searchKeywordResList信息 -->
  <delete id="deleteBySearchId" parameterType="java.lang.Integer" >
    delete from t_search_keyword_reslist
    where searchId = #{searchId,jdbcType=INTEGER}
  </delete> 
  
  <!-- 增加searchKeywordResList信息 -->
  <insert id="insert"  parameterType="com.mas.rave.main.vo.SearchKeywordResList">
  	<selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
    SELECT @@IDENTITY
   </selectKey>
    INSERT INTO t_search_keyword_reslist 
	(id,searchId,resId,operator,createTime)
	VALUES
	(#{id},#{searchId},#{resId},#{operator},now())	
  </insert>
   <!-- 更新searchKeywordResList信息 -->
  <update id="updateByPrimaryKey" parameterType="com.mas.rave.main.vo.SearchKeywordResList" >
	UPDATE t_search_keyword_reslist SET searchId= #{searchId},resId = #{resId},
	sort = #{sort},operator = #{operator}
	WHERE id = #{id}
  </update> 
</mapper>