<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <log4net>
    <!-- 全局日志 -->
    <root>
      <level value="INFO"/>
      <appender-ref ref="rootLog"/>
    </root>
    <appender name="rootLog" type="log4net.Appender.AdoNetAppender">
      <param name="File" value="Log\root.log"/>
      <param name="AppendToFile" value="true"/>
      <param name="DatePattern" value="yyyyMMdd&quot;.txt&quot;"/>
      <param name="StaticLogFileName" value="true"/>
      <param name="Encoding" value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{HH:mm:ss}:%m%n"/>
      </layout>
    </appender>
    <!-- Logger = "error" -->
    <logger name="error" additivity="false">
      <level value="ALL"/>
      <appender-ref ref="errorLog"/>
    </logger>
    <appender name="errorLog" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\error-"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Date"/>
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="StaticLogFileName" value="true"/>
      <param name="Encoding" value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{HH:mm:ss}: %m%n"/>
      </layout>
    </appender>
    <!-- Logger = "info" -->
    <logger name="info" additivity="false">
      <level value="ALL"/>
      <appender-ref ref="infoLog"/>
    </logger>
    <appender name="infoLog" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\info-"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Date"/>
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="StaticLogFileName" value="true"/>
      <param name="Encoding" value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{HH:mm:ss}: %m%n"/>
      </layout>
    </appender>
    <!-- Logger = "log" -->
    <logger name="log" additivity="false">
      <level value="ALL"/>
      <appender-ref ref="logLog"/>
    </logger>
    <appender name="logLog" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\log-"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Date"/>
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="StaticLogFileName" value="true"/>
      <param name="Encoding" value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{HH:mm:ss}: %m%n"/>
      </layout>
    </appender>
  </log4net>

</configuration>
