<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AppStore.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation targetFramework="4.0" debug="true"/>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <httpRuntime requestValidationMode="2.0"/>
  </system.web>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="server=127.0.0.1;port=55511;database=appstore;uid=root;pwd=AP2IJDqB5yt5;charset=utf8mb4;Max Pool Size=75; Min Pool Size=5;"/>-->
    <!--<add name="ConnectionString" connectionString="server=127.0.0.1;port=59001;database=appstore2;uid=appstore;pwd=RM1QhxsN1UDs;charset=utf8;Max Pool Size=75; Min Pool Size=5;" />-->
    <add name="ConnectionString" connectionString="server=127.0.0.1;port=55511;database=appstore;uid=root;pwd=AP2IJDqB5yt5;charset=utf8;"/>
  </connectionStrings>
  <appSettings>
    <add key="RedisHost" value="127.0.0.1"/>
    <add key="RedisPort" value="55501"/>
    <add key="RedisDB" value="1"/>
    <!--<add key="RedisHost" value="127.0.0.1"/>
    <add key="RedisPort" value="6379"/>
    <add key="RedisDB" value="2"/>-->
    <add key="SyncCacheKey" value="37a967f5236352bf9f20bc740261f53e"/>
    <add key="IsValidate" value="false"/>
    <!--<add key="Docdomain" value="www.huashenggame.com"/>-->
    <add key="Docdomain" value="localhost"/>
    <!--上传控件引用的WebService-->
    <add key="UploadUrl" value="http://cms.huashenggame.com/upload/UploadFile.asmx?wsdl"/>
    <!--同步缓存实时生效接口-->
    <add key="SyncEffective" value="http://127.0.0.1:42010/appsserver/sync"/>
    <!--<add key="SyncEffective" value="http://115.159.125.75/appstore_api/appsserver/sync"/>-->
    <!--安卓市场拉取数据后通知接口-->
    <!--<add key="AndroidMarketKey" value="99caddc82f999796b4f2b5b244fb4e63"/>
    <add key="OldPicUrl" value="http://cos.myqcloud.com/1000418/enfs"/>
    <add key="OldPackUrl" value="http://cos.myqcloud.com/1000418/enfs"/>
    <add key="NewPicUrl" value="http://fs0.pada.cc"/>
    <add key="NewPackUrl" value="http://fs1.pada.cc"/>-->
  </appSettings>
  <applicationSettings>
    <AppStore.Web.Properties.Settings>
      <setting name="Pada_Apps_Web_WebReference_UploadFile" serializeAs="String">
        <value>http://cms.huashenggame.com/upload/UploadFile.asmx</value>
      </setting>
    </AppStore.Web.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.9.5.0" newVersion="6.9.5.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>