<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mas.market.mapper.TAppAlbumColumnMapper" >
  <resultMap id="BaseResultMap" type="com.mas.market.pojo.TAppAlbumColumn" >
    <id column="columnId" property="columnId" jdbcType="INTEGER" />
    <result column="albumId" property="albumId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="nameCn" property="nameCn" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="bigicon" property="bigicon" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="BIT" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.albumId != null" >
         and albumId = #{condition.albumId}
      </if>
      <if test="condition.name != null" >
         and name = #{condition.name}
      </if>
      <if test="condition.nameCn != null" >
         and nameCn = #{condition.nameCn}
      </if>
      <if test="condition.icon != null" >
         and icon = #{condition.icon}
      </if>
      <if test="condition.bigicon != null" >
         and bigicon = #{condition.bigicon}
      </if>
      <if test="condition.description != null" >
         and description = #{condition.description}
      </if>
      <if test="condition.sort != null" >
         and sort = #{condition.sort}
      </if>
      <if test="condition.state != null" >
         and state = #{condition.state}
      </if>
      <if test="condition.flag != null" >
         and flag = #{condition.flag}
      </if>
      <if test="condition.createTime != null" >
         and createTime = #{condition.createTime}
      </if>
      <if test="condition.operator != null" >
         and operator = #{condition.operator}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    columnId, albumId, name, nameCn, icon, bigicon, description, sort, state, flag, createTime, 
    operator
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mas.market.pojo.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_app_album_column
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_app_album_column
    where columnId = #{columnId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_app_album_column
    where columnId = #{columnId}
  </delete>
  <delete id="deleteByExample" parameterType="com.mas.market.pojo.Criteria" >
    delete from t_app_album_column
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mas.market.pojo.TAppAlbumColumn" >
    insert into t_app_album_column (columnId, albumId, name, nameCn, icon, bigicon, description, 
      sort, state, flag, createTime, operator)
    values (#{columnId}, #{albumId}, #{name}, #{nameCn}, #{icon}, #{bigicon}, #{description}, 
      #{sort}, #{state}, #{flag}, #{createTime}, #{operator})
  </insert>
  <insert id="insertSelective" parameterType="com.mas.market.pojo.TAppAlbumColumn" >
    insert into t_app_album_column
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="columnId != null" >
        columnId,
      </if>
      <if test="albumId != null" >
        albumId,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="nameCn != null" >
        nameCn,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="bigicon != null" >
        bigicon,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="flag != null" >
        flag,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="operator != null" >
        operator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="columnId != null" >
        #{columnId},
      </if>
      <if test="albumId != null" >
        #{albumId},
      </if>
      <if test="name != null" >
        #{name},
      </if>
      <if test="nameCn != null" >
        #{nameCn},
      </if>
      <if test="icon != null" >
        #{icon},
      </if>
      <if test="bigicon != null" >
        #{bigicon},
      </if>
      <if test="description != null" >
        #{description},
      </if>
      <if test="sort != null" >
        #{sort},
      </if>
      <if test="state != null" >
        #{state},
      </if>
      <if test="flag != null" >
        #{flag},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="operator != null" >
        #{operator},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mas.market.pojo.Criteria" resultType="java.lang.Integer" >
    select count(*) from t_app_album_column
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_app_album_column
    <set >
      <if test="record.columnId != null" >
        columnId = #{record.columnId},
      </if>
      <if test="record.albumId != null" >
        albumId = #{record.albumId},
      </if>
      <if test="record.name != null" >
        name = #{record.name},
      </if>
      <if test="record.nameCn != null" >
        nameCn = #{record.nameCn},
      </if>
      <if test="record.icon != null" >
        icon = #{record.icon},
      </if>
      <if test="record.bigicon != null" >
        bigicon = #{record.bigicon},
      </if>
      <if test="record.description != null" >
        description = #{record.description},
      </if>
      <if test="record.sort != null" >
        sort = #{record.sort},
      </if>
      <if test="record.state != null" >
        state = #{record.state},
      </if>
      <if test="record.flag != null" >
        flag = #{record.flag},
      </if>
      <if test="record.createTime != null" >
        createTime = #{record.createTime},
      </if>
      <if test="record.operator != null" >
        operator = #{record.operator},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_app_album_column
    set columnId = #{record.columnId},
      albumId = #{record.albumId},
      name = #{record.name},
      nameCn = #{record.nameCn},
      icon = #{record.icon},
      bigicon = #{record.bigicon},
      description = #{record.description},
      sort = #{record.sort},
      state = #{record.state},
      flag = #{record.flag},
      createTime = #{record.createTime},
      operator = #{record.operator}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mas.market.pojo.TAppAlbumColumn" >
    update t_app_album_column
    <set >
      <if test="albumId != null" >
        albumId = #{albumId},
      </if>
      <if test="name != null" >
        name = #{name},
      </if>
      <if test="nameCn != null" >
        nameCn = #{nameCn},
      </if>
      <if test="icon != null" >
        icon = #{icon},
      </if>
      <if test="bigicon != null" >
        bigicon = #{bigicon},
      </if>
      <if test="description != null" >
        description = #{description},
      </if>
      <if test="sort != null" >
        sort = #{sort},
      </if>
      <if test="state != null" >
        state = #{state},
      </if>
      <if test="flag != null" >
        flag = #{flag},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime},
      </if>
      <if test="operator != null" >
        operator = #{operator},
      </if>
    </set>
    where columnId = #{columnId}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mas.market.pojo.TAppAlbumColumn" >
    update t_app_album_column
    set albumId = #{albumId},
      name = #{name},
      nameCn = #{nameCn},
      icon = #{icon},
      bigicon = #{bigicon},
      description = #{description},
      sort = #{sort},
      state = #{state},
      flag = #{flag},
      createTime = #{createTime},
      operator = #{operator}
    where columnId = #{columnId}
  </update>
</mapper>