<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reportforms.dao.RaveDebacleLogMapper">
  <resultMap id="BaseResultMap" type="com.reportforms.model.RaveDebacleLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="clientId" jdbcType="INTEGER" property="clientId" />
    <result column="masPackageName" jdbcType="VARCHAR" property="masPackageName" />
    <result column="masVersionName" jdbcType="VARCHAR" property="masVersionName" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="deviceModel" jdbcType="VARCHAR" property="deviceModel" />
    <result column="masVersionCode" jdbcType="INTEGER" property="masVersionCode" />
    <result column="deviceVendor" jdbcType="VARCHAR" property="deviceVendor" />
    <result column="osVersion" jdbcType="VARCHAR" property="osVersion" />
    <result column="osVersionName" jdbcType="VARCHAR" property="osVersionName" />
    <result column="deviceType" jdbcType="INTEGER" property="deviceType" />
    <result column="state" jdbcType="BIT" property="state" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="commonColumns">
  	<![CDATA[
  		id,clientId,masPackageName,masVersionName,masVersionCode,content,deviceModel,
  		deviceVendor,osVersion,osVersionName,deviceType,state,createTime
  	]]>
  </sql>
  <sql id="dynamicWhere">
  	<trim prefix="where" prefixOverrides="and">
  		<if test="params.id != null and params.id != ''">
  			id = #{params.id}
  		</if>
  		<if test="params.masVersionName != null and params.masVersionName != ''">
  			masVersionName = #{params.masVersionName}
  		</if>
  		<if test="params.masPackageName != null and params.masPackageName != ''">
  			and masPackageName like  CONCAT("%",#{params.masPackageName},"%")
  		</if>
  		<if test="params.startTime != null and params.startTime != ''">
  			<![CDATA[and createTime >= #{params.startTime}]]>
  		</if>
  		<if test="params.endTime != null and params.endTime != ''">
  			<![CDATA[and createTime <= #{params.endTime}]]>
  		</if>
  	</trim>
  </sql>
  <select id="query" parameterType="paramsBean" resultMap="BaseResultMap">
  	select 
  	<include refid="commonColumns"/> 
  	from mas_ws.rave_debacle_log 
  	<include refid="dynamicWhere"/>
  	<trim>
  		<if test="sort != null and order != null">
  			order by ${sort} ${order}
  		</if>
  	</trim>
  </select>
  <select id="queryAllCounts" parameterType="paramsBean" resultType="java.lang.Integer">
  	select count(id) from mas_ws.rave_debacle_log
  	<include refid="dynamicWhere"/>
  </select>
</mapper>