.icon-authorization{
	background:url('icons/authorization.png') no-repeat;
}
.icon-sysManage{
	background:url('icons/sysManage.gif') no-repeat;
}
.icon-employee{
	background:url('icons/employee.png') no-repeat;
}
.icon-department{
	background:url('icons/department.gif') no-repeat;
}
.icon-key{
	background:url('icons/key.png') no-repeat;
}
.icon-key_go{
	background:url('icons/key_go.png') no-repeat;
}
.icon-ftpSetting{
	background:url('icons/ftpSetting.png') no-repeat;
}
.icon-fileManage{
	background:url('icons/fileManage.png') no-repeat;
}
.icon-lucene{
	background:url('icons/lucene.png') no-repeat;
}
.icon-role{
	background:url('icons/role.gif') no-repeat;
}
.icon-sysLog{
	background:url('icons/sysLog.gif') no-repeat;
}
.icon-sysConfig{
	background:url('icons/sysConfig.gif') no-repeat;
}
.icon-sensword{
	background:url('icons/sensword.gif') no-repeat;
}
.icon-blank{
	background:url('icons/blank.gif') no-repeat;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat;
}
.icon-list{
	background:url('icons/list.png') no-repeat;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat;
}
.icon-no{
	background:url('icons/no.png') no-repeat;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat;
}
.icon-search{
	background:url('icons/search.png') no-repeat;
}
.icon-print{
	background:url('icons/print.png') no-repeat;
}
.icon-help{
	background:url('icons/help.png') no-repeat;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat;
}
.icon-back{
	background:url('icons/back.png') no-repeat;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat;
}
.icon-authorization{
	background:url('icons/authorization.png') no-repeat;
}
.icon-excelSetting{
	background:url('icons/excelSetting.png') no-repeat;
}

.icon-databaseSetting{
	background:url('icons/databaseSetting.gif') no-repeat;
}
.icon-imageSetting{
	background:url('icons/imageSetting.gif') no-repeat;
}
.icon-emailSetting{
	background:url('icons/emailSetting.gif') no-repeat;
}
.icon-refreshSetting{
	background:url('icons/refreshSetting.gif') no-repeat;
}
.icon-reportSeting{
	background:url('icons/reportSeting.gif') no-repeat;
}
.icon-websiteSetting{
	background:url('icons/websiteSetting.gif') no-repeat;
}
.icon-fileSeting{
	background:url('icons/fileSeting.gif') no-repeat;
}
.icon-folderSeting{
	background:url('icons/folderSeting.gif') no-repeat;
}
.icon-tableSetting{
	background:url('icons/tableSetting.gif') no-repeat;
}
.icon-searchSetting{
	background:url('icons/searchSetting.gif') no-repeat;
}
.icon-userRights{
	background:url('icons/userRights.gif') no-repeat;
}
.icon-versionUpdate{
	background:url('icons/versionUpdate.gif') no-repeat;
}
.icon-securitySettings{
	background:url('icons/securitySettings.gif') no-repeat;
}
.icon-logSeting{
	background:url('icons/logSeting.gif') no-repeat;
}
.icon-shellSetting{
	background:url('icons/shellSetting.gif') no-repeat;
}
.icon-systemSetting{
	background:url('icons/systemSetting.gif') no-repeat;
}
.icon-generalInfo{
	background:url('icons/generalInfo.gif') no-repeat;
}
.icon-quartzManager{
	background:url('icons/quartzManager.gif') no-repeat;
}
.icon-backup{
	background:url('icons/backup.gif') no-repeat;
}
.icon-quartzJob{
	background:url('icons/quartzJob.gif') no-repeat;
}
.icon-menu{
	background:url('icons/menu.gif') no-repeat;
}
.icon-wordsManage{
	background:url('icons/wordsManage.gif') no-repeat;
}
.icon-searchManage{
	background:url('icons/searchManage.gif') no-repeat;
}
.icon-resultManage{
	background:url('icons/resultManage.gif') no-repeat;
}
.icon-excel{
	background:url('icons/excel.png') no-repeat;
}
.icon-page{
	background:url('icons/page.png') no-repeat;
}
