@charset "utf-8";
html{font-size:625%}
body,h1,h2,h3,p,ul,ol,font-face-format,fieldset,figure{margin:0;padding:0;font-size: 0.16rem;}
ul,ol{list-style:none outside none;}
div,figure,figcaption{box-sizing: border-box;}
a{
    color:#333;
}
a:hover{
    text-decoration:none;
}
/*head*/

body{
    font-size:12px;
    font-family:'微软雅黑','Helvetica', 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;

}
ul{
    margin:0;padding:0;
    list-style:none;
}
img{width: 100%;
    border:none;
}
.head{background: #FFF;
    width:100%;height: 0.35rem;
    line-height:0.35rem;
    text-align:center;
    position:relative;

}
.head span{
    font-size:16px;

}
.head i{color: #333;
    font-size:0.14rem

}


/*index*/
.btn_new{background: #f36922;border-color:#f36922 }

/*轮播图ol样式*/
body{background: #f5f5f5}
.carousel-indicators {position: absolute;
    bottom: 0.01rem;
    margin-bottom:0.02rem;}

/*游戏中心s的推荐，min.css*/
.swiper-container {
    position:relative;
    overflow:hidden;
    z-index:1
}
.swiper-container-no-flexbox .swiper-slide {
    float:left
}
.swiper-container-vertical>.swiper-wrapper {
    -webkit-box-orient:vertical;
    -moz-box-orient:vertical;
    -ms-flex-direction:column;
    -webkit-flex-direction:column;
    flex-direction:column
}
.swiper-wrapper {
    position:relative;
    width:100%;
    height:100%;
    z-index:1;
    display:-webkit-box;


;
    -webkit-transition-property:-webkit-transform;
    -moz-transition-property:-moz-transform;
    -o-transition-property:-o-transform;
    -ms-transition-property:-ms-transform;
    transition-property:transform;
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box
}
.swiper-container-android .swiper-slide,.swiper-wrapper {
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate(0,0);
    -ms-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0)
}
.swiper-container-multirow>.swiper-wrapper {
    -webkit-box-lines:multiple;
    -moz-box-lines:multiple;
    -ms-flex-wrap:wrap;
    -webkit-flex-wrap:wrap;
    flex-wrap:wrap
}
.swiper-container-free-mode>.swiper-wrapper {
    -webkit-transition-timing-function:ease-out;
    -moz-transition-timing-function:ease-out;
    -ms-transition-timing-function:ease-out;
    -o-transition-timing-function:ease-out;
    transition-timing-function:ease-out;
    margin:0 auto
}
.swiper-slide {background: #f5f5f5;
    -webkit-flex-shrink:0;
    -ms-flex:0 0 auto;
    flex-shrink:0;
    width: 100%;
    height:auto;
    overflow: hidden;
    position:relative
}


.details_img{width: 80%;height: auto}
.item_img{margin: 0.1rem 0;}


/*轮播图上的搜索*/
.c_serch{position: relative;margin-top: 0.75rem}
.carousel_serch{position: absolute;right:0.12rem;top:0.10rem;color: #fff;font-size: 0.16rem;z-index: 999}

.carousel-indicators li{width:0.15rem;height:0.05rem;margin:0;border: none;background:rgba(255,255,255,0.4);border-radius:0 }
.carousel-indicators .active{width:0.15rem;height:0.05rem;margin:0;background:rgba(255,203,62,0.7)}

/*nav样式*/
.game_nav{width:100%;height: 0.75rem;background:white;border-bottom:solid 0.01rem #d8d8d8;position: fixed;top:0;z-index: 999; }
.game_nav ul{width:100%;height: 0.75rem;}
.game_nav ul>li{width: 20%;height:0.75rem;text-align: center;float: left;}
.nav_bt img{;width:0.32rem;height: 0.32rem;margin-top:0.10rem;}
.nav_bt figcaption{font-size: 0.14rem;margin-top:0.05rem;color: #333}

/*返回顶部*/

.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 80px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(232, 98, 86, 0.8)  url(../imgs/back_top.png)no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}
.cd-top.cd-fade-out {
    /* ����û��������¹���,�����ť��͸���Ȼ��ø�� */
    opacity: .8;
}
.no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
}
@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 30px;
    }
}
@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}























/*head上的搜索*/
.game_search{font-size: 0.15rem;position: absolute;right: 0.1rem;}
/*banner*/
.container{padding: 0 0;margin: 0 auto}
/*推荐*/
.recommend{width: 100%;height:auto;margin: 0.08rem 0;background: white}
.r_title{width: 100%;height:0.40rem;border-bottom: solid 0.01rem #d8d8d8;}
.r_title h1{margin:0;width:1.20rem;border-bottom:solid 0.01rem #f8d20f;height: 0.40rem;line-height: 0.40rem;font-size: 0.18rem;text-indent: 0.12rem;color: #333;float: left}
.r_title h1 em{font-size: 0.14rem;color: #999;font-style: normal}
.r_title a{float: right;padding-right:0.12rem;font-size: 0.12rem;color: #666;line-height: 0.40rem;}
.swipe {overflow: hidden;  visibility: hidden;  position: relative;}
.swipe-wrap {  overflow: hidden;  position: relative;}
.swipe-wrap span {  float:left;  width:100%;  position: relative; }
.swipe-wrap span img {  width:100%;}
.swipe-bar{ width:0.83rem; position:absolute; bottom:5%; left:5%;}
.swipe-bar span { background:#fff; border-radius: 9rem; display: inline-block; font-size: 0; border:0.01rem solid #4be7fc; width:0.08rem; height:0.08rem;  margin-right:0.05rem;opacity:1;}
.swipe-bar span.current { opacity:1; border:0.15rem solid #fff; width:0.08rem; height:0.08rem; border-radius:0.09rem; background:#5ee9e9;}

.subway{width:100%; background:#FFF; overflow:hidden; }
.bt1{font-size:0.18rem; color:#666; padding-left:3%; padding-top:3%;}
.subway ul{padding-left:3%; padding-top:3%;}
.subway a{text-decoration:none;}

.icon{
    display: block;
    width:100%;
    overflow: hidden;
    position: relative;
    border-radius: 0.18rem;
}

/*.swiper-wrapper img{width:0.64rem;height: 0.64rem; display:block;margin: 0 auto}*/

.iconwz{color:#333;line-height:0.18rem; font-size:0.14rem; display:block; text-align:center; width:100%; margin-top:5%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.wangame{font-size:0.12rem; color:#a7a7a7; display:block; text-align:center; width:100%; margin-bottom:5%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.aniu{width:50%;display:block; border:1rem solid #CCC;border-radius:5rem; text-align:center; line-height:0.20rem; text-decoration:none; margin:0 auto;}

/*精品游戏*/
.recommend_g{width: 100%;margin: 0 auto 0 auto;background: #fff}
.g_game{width: 96%;margin: 0.1rem auto 0 auto;/*border-top: solid 0.01rem #d8d8d8;border-left: solid 0.01rem #d8d8d8;border-right: solid 0.01rem #d8d8d8;*/background: #fff}
.g_game_li{width:100%;height:0.84rem;border-bottom: solid 0.01rem #d8d8d8;background: #fff}
.li_figure{width:75%;height:0.84rem;padding: 0.08rem 0 0.08rem 0.08rem;float: left}
.li_figure img{width: 0.64rem;height: 0.64rem;display: block;float: left;border-radius:10px; }
.li_figure_figcaption{width: 1.46rem;display:block;height: 0.64rem;float: left;text-align: left;text-indent: 0.1rem;overflow: hidden}
.li_figure_figcaption h4{margin: 0.11rem 0 0 0 ;font-size: 0.16rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;height: 0.16rem;line-height: 0.16rem}
.li_figure_figcaption h5{margin: 0.02rem auto;font-size: 0.12rem;}
.type0{background:#a0cb00;color: #fff;padding:0.00rem 0.02rem;font-size: 0.12rem;margin-right:0.05rem;}
.type1{background:#80c269;color: #fff;padding:0.00rem 0.02rem;font-size: 0.12rem;margin-right:0.05rem;}
.type2{background:#00a0e9;color: #fff;padding:0.00rem 0.02rem;font-size: 0.12rem;margin-right:0.05rem;}
.type3{background:#f39800;color: #fff;padding:0.00rem 0.02rem;font-size: 0.12rem;margin-right:0.05rem;}
.type4{background:#f2bc04;color: #fff;padding:0.00rem 0.02rem;font-size: 0.12rem;margin-right:0.05rem;}
.type5{background:#cf1d59;color: #fff;padding:0.00rem 0.02rem;font-size: 0.12rem;margin-right:0.05rem;}
.type6{background:#a82ebd;color: #fff;padding:0.00rem 0.02rem;font-size: 0.12rem;margin-right:0.05rem;}
.type7{background:#e72a2c;color: #fff;padding:0.00rem 0.02rem;font-size: 0.12rem;margin-right:0.05rem;}

.li_figure_figcaption h6{margin: 0.06rem auto 0 auto;font-size: 0.12rem;color: #999;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.li_figure_figcaption h6>i{font-style: normal}
.g_game_r{width: 25%;height: 0.80rem;float: left;text-align: center;}
.g_game_r>a{margin-top:0.25rem}
.ourapp{width: 100%;height: 0.42rem;background: rgba(0,0,0, 0.8);position: fixed;bottom:0;z-index: 999;font-size: 0.12rem;color: #999;line-height: 0.42rem;}
.ourapp img{width: 0.32rem;height: 0.32rem;margin-left:0.08rem; }

#download{padding: 0.03rem 0.08rem;color:#569b34; border:1px solid #569b34;border-radius:0.02rem; font-size: 0.12rem;height: 0.42rem }
.right{position: absolute;right: 0;top:0;}
#close img{margin-left:0.00rem}



/*游戏详情页面*/
.game_Detil{width: 100%;height:1.40rem;margin: 0 auto;background: white;text-align: center;padding-top:0.15rem;border-bottom: solid 1px #d8d8d8}
.game_Detil figure{width: 3.00rem;height:0.64rem;margin: 0 0 0 0.15rem;text-align: center}
.game_Detil figure>img{border-radius:10px }
.game_Detil figure>figcaption{width:2.26rem;height:0.64rem;float: left;text-align: left;padding-left:0.10rem}
.game_Detil figure>figcaption>h4{font-size: 0.16rem;color: #333;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin: 0.02rem 0}
.game_Detil figure>figcaption>h5{padding:0.05rem 0;color: #999;margin: 0;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.game_Detil img{width:0.64rem;height: 0.64rem;display: block;float: left}
.game_Detil figure>figcaption>h5>img{width: 0.58rem;height: 0.10rem;}
.game_Detil_download{width: 90%;display: block;height: 0.32rem;background: #f39800;border-radius: 0.05rem;margin:0.12rem auto 0.08rem auto;text-align: center;color: #fff;line-height: 0.32rem;font-size: 0.14rem;}

/*礼包*/
.gift{width: 100%;height: 0.64rem;border-bottom: solid 0.01rem #d8d8d8;background: #fff;margin:0 auto}
.gift_img{width:auto;height:0.64em;float: left;padding-left: 0.15rem;}
.gift_img img{width: 0.8rem;height:0.4rem;float: left}
.gift_word{height:0.4rem;float: left;text-align: center;font-size:0.12rem;color:#fff;line-height: 0.64rem;background: #dd5034}
/*游戏详情页面-应用升级*/
.app_details{width: 100%;height:auto;margin: 0.05rem auto 0 auto;padding-bottom:0.2rem;background: #fff;}
.app_details_summary{font-size: 0.16rem;padding-left: 0.12rem;color: #333;padding-top: 0.1rem;}
.p_details{font-size: 0.14rem;color: #888;padding: 0.1rem 0.1rem;white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word; border: none;background: #fff }
.app_details_h{width: 100%;height:auto;margin: 0.05rem auto;padding:0.1rem 0;background: #fff}
.p_details_h{font-size: 0.14rem;color: #888;padding: 0.02rem 0.1rem;margin: 0.01rem 0}

/*热门游戏*/
.app_details_re{height: 3.3rem;margin: 0.1rem auto;}
.app_details_regames{width: 100%;height:auto;}
.app_details_regames li{width:25%;text-align: center;float: left;margin-top: 0.18rem}
.app_details_regames li>a>img{width: 0.64rem;height: 0.64rem;border-radius:10px;}
.app_details_regames li>a>p{width:90%;font-size: 0.14rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;color: #333;margin: 0.05rem auto}
.download_btn{font-size: 0.13rem;color:#f39800;padding: 0.02rem 0.06rem ;border: solid 0.01rem #f39800;border-radius: 0.02rem }



/*热门*/
.hot_game_tb{width: 100%;height: auto;background: #ffffff;padding-top: 0.2rem}
.hot_game_tb table{width: 100%;background: #ffffff;}
.hot_game_tb tr{width: 100%;height: 0.8rem;border-bottom: solid 1px #d8d8d8;background: #ffffff}
.hot_game_tb tr>td:nth-child(2){width: 1.56rem;height: 0.8rem;overflow: hidden}
.td_img{padding:0  0.1rem;width: 0.84rem;text-align: center}
.logo_img{width: 0.64rem;height: 0.64rem;}
.td_h h4{font-size: 0.14rem;color: #333;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin: 0 0;width: 1.56rem;}
.td_h h5{font-size: 0.12rem;color: #999;padding: 0.02rem 0;margin: 0 0}
.td_h h5>img{width: 0.58rem;height: 0.10rem;}
.hot_game_tb tr>td:last-child{text-align: center;width:0.8rem;height: 0.8rem}

/*热词*/
.hot_words{width: 90%;margin: 0.1rem auto;height: auto;background: #ffffff;border-radius: 0.05rem;}
.hot_words h3{padding: 0.08rem 0.12rem;border-bottom: 1px solid #d8d8d8;color: red;font-size: 0.14rem;width:90%;margin: 0 auto}
.hot_words table{width: 100%;text-align: center;margin-top: 0.1rem;}
.hot_words td{font-size: 0.14rem;color: #888;height: 0.2rem;padding: 0.02rem 0}
#hotkeywords li{ display: inline-block;
    padding: 0.04rem;
    border-radius: 0.08rem;
    color: #666;font-size: 0.14rem;
    background: #fff;
    margin: 0.05rem;!important;}


/*必备*/
.nec_bg{width: 100%;background: #ffffff;}
.nec_bg img{width: 100%;overflow: hidden}
.nec_h4{font-size: 0.14rem;color: #333;height: auto;background: #ffffff;padding: 0.05rem 0.15rem 0 0.15rem;margin: 0 auto;line-height: 1.5;}



/*专题*/
.subject_li{width:90%;height: auto;margin: 0.15rem auto;-moz-box-shadow: 0 2px 2px #888888; /* 鑰佺殑 Firefox */
    box-shadow: 0 1px 2px #ccc;}
.subject_li figure{width: 100%;height: auto;border: 1px #d8d8d8 solid;background: #ffffff}
.subject_li img{width: 100%;}
.sub_h4{;font-size: 0.14rem;color: #666;padding: 0.06rem 0.12rem;margin: 0}
.sub_p{font-size: 0.12rem;color: #999;padding: 0.02rem 0.12rem 0.08rem 0.12rem}

/*分类*/
.game_classification{width: 100%;height: auto;background: #fff;}
/*.game_type_ul{width: 100%;padding: 0.2rem 0;display: -webkit-flex; *//* Safari *//* display: flex;
    flex-direction:row;
-webkit-flex-flow: row;
    flex-wrap:wrap;
-webkit-flex-wrap: wrap;
    justify-content:space-around;
    -webkit-justify-content: space-around;}*/
.game_type_ul{
    width: 100%;height: auto;margin-top: 0.15rem;
    background: #fff;
}

.game_type_li{margin: 0.05rem 0.03rem;border: solid 0.01rem  #f39800;border-radius:0.05rem ;width: 48%;height: 1.2rem;text-align: center;float: left;   background: #fff;}
.game_type_li_h1{color: #333;font-size: 0.16rem;padding: 0.09rem;text-align: left }
.game_type_li_h1 em{padding-left: 0.07rem;font-style: normal}
.game_type_li_h1 i{height:100%;background:#f39800;padding:0.03rem 0.02rem}
.game_type_li_p{overflow: hidden;color: #999;font-size: 0.12rem;padding: 0.03rem 0.04rem;text-align: left}


/**/
.star {background-size: 12px 42px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAABACAYAAAAXiCerAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAWdEVYdENyZWF0aW9uIFRpbWUAMDUvMDQvMTYz/8vkAAABW0lEQVRYhe2XPUvDUBSGn4QMop0FQejq0lacFKQtxQ/QX+B/8D/YzK4O6m+oQkfxg06is5tdhYKDixnaKQ73RGKS3tzWoct5IdxD7nuee7g3CTne9cU5JWrLOLCZgjIK0AU8oGUz+Q7VtIAm0PkPKEzFZ/OCOlJJImtV00ArmWoShTKXUwCcAjvAOrAqY2XKArtAJNcH8Cnjsw/cADUpfcMCSasi3qbk3vrACHM6rw6ArF4kd5Ts0RewBzzNAHkE9iX3z2ZHwBHQd4D0gWPJIQsCmAA9B1BPvL8qOv5tB1DO4wIaAu+zgpaAhsRjzAtbA+oSj2WuASzbQFuYh/RBkkPMXkwkrgP34tm0garACeZYh9ny5d6BeKrpCS+O4wL/7Cr7jChIQQpSkIIUpCAFFSqIrrwyT1vGgRXksFgXbbOKtLg2y/u+ZA24w/xPz6M34FDbrJy0zVpkm/UDHvphIXJztkUAAAAASUVORK5CYII=");
    background-repeat: repeat-x;
    background-position: left top;
}

.star_y {
    background-position: left bottom;
    margin: 0;
    padding: 0;
}

/*back_返回*/
.head_left{height:0.35rem;line-height: 0.35rem;float: left}
.head_left i{font-style: normal}
.fa{font-size: 0.14rem;color:#333}
.head img{width: 0.22rem;height: 0.35rem;float: left;line-height: 35px;}


/*游戏中心banner的适配*/
@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){/* 鍏煎iphone5 */ .item_img {height: 1.48rem}  .li_figure_figcaption{width: 1.50rem}
    .app_details_regames{width: 100%;height:auto;}
    .app_details_regames li{width:25%;text-align: center;float: left;margin-top: 0.18rem}
    .app_details_regames li>a>img{width: 0.48rem;height: 0.48rem;border-radius:10px; }
    .app_details_regames li>a>p{width:90%;font-size: 0.12rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;color: #333;margin: 0.05rem auto}
    .app_details_re{height: 2.9rem;margin: 0.1rem auto;}

    .g_game{width: 96%;margin: 0.05rem auto 0 auto;/*border-top: solid 0.01rem #d8d8d8;border-left: solid 0.01rem #d8d8d8;border-right: solid 0.01rem #d8d8d8;*/background: #fff}
    .g_game_li{width:100%;height:0.64rem;border-bottom: solid 0.01rem #d8d8d8;background: #fff}
    .li_figure{width:75%;height:0.64rem;padding: 0.08rem 0 0.08rem 0.08rem;float: left}
    .li_figure img{width: 0.48rem;height: 0.48rem;display: block;float: left}
    .li_figure_figcaption{width: 1.56rem;display:block;height: 0.48rem;float: left;text-align: left;text-indent: 0.1rem;overflow: hidden}
    .li_figure_figcaption h4{margin: 0.08rem 0 0 0 ;font-size: 0.14rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;height: 0.16rem;line-height: 0.16rem}
    .li_figure_figcaption h5{margin: 0.02rem auto;font-size: 0.12rem;}


    .g_game_r{width: 25%;height: 0.64rem;float: left;text-align: center;}
    .g_game_r>a{margin-top:0.15rem}

    /*游戏截图*/



}
@media only screen and (max-device-width :480px){ .item_img {height: 1.48rem}   }
@media only screen and (min-device-width :481px){.item_img {height: 1.48rem}  }

/*6*/
@media (min-device-width : 375px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){.item_img {height: 1.58rem}  .li_figure_figcaption{width: 1.96rem}}

/*6+*/
@media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){.item_img {height: 1.68rem}  .li_figure_figcaption{width: 2.26rem} }

/*榄呮棌*/
@media only screen and (min-device-width :1080px) and (-webkit-min-device-pixel-ratio : 2.5){.item_img {height: 1.68rem} }

/*mate7*/
@media only screen and (min-device-width :1080px) and (-webkit-min-device-pixel-ratio : 3){.item_img {height: 1.68rem} }

/*4 4s*/
@media only screen and (device-height :480px) and (-webkit-device-pixel-ratio:2){
    .app_details_regames{width: 100%;height:auto;}
    .app_details_regames li{width:25%;text-align: center;float: left;margin-top: 0.18rem}
    .app_details_regames li>a>img{width: 0.48rem;height: 0.48rem;border-radius:10px; }
    .app_details_regames li>a>p{width:90%;font-size: 0.12rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;color: #333;margin: 0.05rem auto}
    .app_details_re{height: 2.9rem;margin: 0.1rem auto;}


    .g_game{width: 96%;margin: 0.05rem auto 0 auto;/*border-top: solid 0.01rem #d8d8d8;border-left: solid 0.01rem #d8d8d8;border-right: solid 0.01rem #d8d8d8;*/background: #fff}
    .g_game_li{width:100%;height:0.64rem;border-bottom: solid 0.01rem #d8d8d8;background: #fff}
    .li_figure{width:75%;height:0.64rem;padding: 0.08rem 0 0.08rem 0.08rem;float: left}
    .li_figure img{width: 0.48rem;height: 0.48rem;display: block;float: left}
    .li_figure_figcaption{width: 1.56rem;display:block;height: 0.48rem;float: left;text-align: left;text-indent: 0.1rem;overflow: hidden}
    .li_figure_figcaption h4{margin: 0.08rem 0 0 0 ;font-size: 0.14rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;height: 0.16rem;line-height: 0.16rem}
    .li_figure_figcaption h5{margin: 0.02rem auto;font-size: 0.12rem;}


    .g_game_r{width: 25%;height: 0.64rem;float: left;text-align: center;}
    .g_game_r>a{margin-top:0.15rem}




    .item_img {height: 1.28rem} }

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  { .item_img {height: 2.88rem}  .li_figure_figcaption{width: 1.96rem}}