<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <pages>
            <controls>
                <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </controls>
        </pages>
        <customErrors mode="Off" />
    </system.web>
    <appSettings>
        <add key="Redis_Host" value="127.0.0.1" />
        <add key="Redis_Port" value="55501" />
        <add key="Redis_Updater_Db" value="2" />
      
        <!--是否检测登陆，1=检测，0=不检测-->
        <add key="Check_Login" value="0" />
      
    </appSettings>
    <connectionStrings>
        <!--<add name="Updater_DB" connectionString="server=192.168.1.12;uid=root;pwd=pada-mysql;database=Updater;port=4398"/>
        <add name="UAC_DB" connectionString="server=192.168.1.12;uid=root;pwd=pada-mysql;database=uac;port=4398"/>-->
        <add name="Updater_DB" connectionString="server=127.0.0.1;uid=root;pwd=AP2IJDqB5yt5;database=updatesys;port=55511" />
        <add name="AppLib_DB" connectionString="server=127.0.0.1;uid=root;pwd=AP2IJDqB5yt5;database=applib;port=55511" />
    </connectionStrings>
    
  <runtime>
    
         <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    
                <dependentAssembly>
    
                       <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
    
                       <bindingRedirect oldVersion="0.0.0.0-6.9.6.0" newVersion="6.9.6.0" />
    
                </dependentAssembly>
    
         </assemblyBinding>
    
  </runtime>

</configuration>
